DATABASE_URL="postgresql://postgres:postgres@localhost:5432/mina"
JWT_SECRET="postavi-dugu-nasumicnu-vrednost-od-najmanje-32-karaktera"
PORT=4000
CORS_ORIGIN="http://localhost:3000"
AUTO_SEED="true"
ADMIN_NAME="MINA Admin"
ADMIN_EMAIL="admin@example.com"
ADMIN_PASSWORD="PromeniOvuLozinku123"
